<div>
  <div class="container" id="first">
    <div>
      <input type="text" [(ngModel)]="newTask"><input type="button" value="Dodaj" (click)="addTask()">
    </div>
  </div>
  <div class="container">

    <div>
      Zadania do wykonania ( {{Tasks.length}} ):
      <ng-container *ngIf="Tasks.length > 0; else noTask">
        <div *ngFor="let task of Tasks">
          ☐ {{task}}
          <input type="button" value="Usuń" (click)="delTask(task)">
          <input type="button" value="Zrobione" (click)="completeTask(task)">
        </div>
      </ng-container>
      <ng-template #noTask>
        <p>Brak zadań, masz czas wolny!</p>
      </ng-template>
    </div>

    <div>
      Wykonane zadania ( {{TasksDone.length}} ):
      <div *ngFor="let task of TasksDone">
      ☑ {{task}}
      </div>
    </div>

  </div>
</div>
