<div>
  <div class="container" id="first">
    <div>
      <input type="text" [(ngModel)]="newTask"><input type="button" value="Dodaj" (click)="addTask()">
    </div>
  </div>
  <div class="container">

    <div>
      Zadania do wykonania ( {{Tasks.length}} ):
      <div *ngFor="let task of Tasks">
        ☐ {{task}}
        <input type="button" value="Usuń" (click)="delTask(task)">
        <input type="button" value="Zrobione" (click)="completeTask(task)">
      </div>
    </div>

    <div>
      Wykonane zadania ( {{TasksDone.length}} ):
      <div *ngFor="let task of TasksDone">
      ☑ {{task}}
      </div>
    </div>

  </div>
</div>
