.card
{
  color: black;
  background-color: #f6e56f;
  padding: 10px 30px;
  margin: 10px;
  width: 350px;
  min-height: 27.5px !important;
}

.cardbox
{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.text
{
  word-wrap: break-word;
  width: 280px;
  text-decoration: line-through;
}
